<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="watcherSection" type="SystemWatcherApp.Configs.WatcherSectionGroup, SystemWatcherApp">
      <section name="ruleSection" type="SystemWatcherApp.Configs.RuleSection, SystemWatcherApp"/>
      <section name="localeSection" type="SystemWatcherApp.Configs.LocaleSection, SystemWatcherApp"/>
      <section name="trackingFoldersSection" type="SystemWatcherApp.Configs.TrackingFoldersSection, SystemWatcherApp"/>
    </sectionGroup>
  </configSections>
  <watcherSection>
    <ruleSection>
      <rules>
        <rule pattern="a+" address="d:\_02_BCL\FilesWithA\" isRequiredNumeration='true' isRequiredMoveDate='true'/>
        <rule pattern="[0-9]+" address="d:\_02_BCL\FilesWithNumber\" isRequiredNumeration='true' isRequiredMoveDate='false'/>
      </rules>
    </ruleSection>
    <localeSection localecode="ru"/>
    <trackingFoldersSection>
      <trackingFolders>
        <trackingFolder address="D:\_02_BCL\Start1\"/>
        <trackingFolder address="D:\_02_BCL\Start2\"/>
        <trackingFolder address="D:\_02_BCL\Start3\"/>
      </trackingFolders>
    </trackingFoldersSection>
  </watcherSection>
</configuration>