<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="watcherSectionGroup" type="SystemWatcherApp.Configs.WatcherConfigurationSection, SystemWatcherApp">
      <section name="ruleSection" type="SystemWatcherApp.Configs.RuleSection, SystemWatcherApp"/>
    </sectionGroup>
  </configSections>
  <watcherSectionGroup>
    <ruleSection>
      <rules>
        <rule name="a+" address="e:\_02_BCL\FilesWithA\" />
        <rule name="[0-9]+" address="e:\_02_BCL\FilesWithNumber\" />
      </rules>
    </ruleSection>
  </watcherSectionGroup>
</configuration>